<div class="content">
	<div class="navigation-topbar">
		<div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
		<div class="navigation-topbar-main-text">{{dancer.fio}}</div>
	</div>
	<ul class="navigation-view">
		<li class="navigation-item-wo-border">
			<div class="navigation-item-header grey-text">Клубная принадлежность</div>
			<div>{{dancer.club}}</div>
		</li>
		<li class="navigation-item-wo-border">
			<div class="navigation-item-header grey-text">Баллы</div>
			<div class="point-table-holder">
				<div class="float-left blue-bubble">{{dancer.class}}</div>
				<table class="points-table">
					<tr>
						<td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
					</tr>
					<tr>
						<td class="points-table-cell">{{dancer.e_points}}</td>
						<td class="points-table-cell">{{dancer.d_points}}</td>
						<td class="points-table-cell">{{dancer.c_points}}</td>
						<td class="points-table-cell">{{dancer.b_points}}</td>
						<td class="points-table-cell">{{dancer.a_points}}</td>
					</tr>
				</table>
			</div>
			<div class="point-table-holder">
				<div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
				<table class="points-table">
					<tr>
						<td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
					</tr>
					<tr>
						<td class="points-table-cell">{{dancer.bg_points}}</td>
						<td class="points-table-cell">{{dancer.rs_points}}</td>
						<td class="points-table-cell">{{dancer.m_points}}</td>
						<td class="points-table-cell">{{dancer.s_points}}</td>
						<td class="points-table-cell">{{dancer.ch_points}}</td>
					</tr>
				</table>
			</div>
		</li>
		<li ng-repeat="style in results" class="navigation-item-wo-border">
			<div  class="navigation-item-header grey-text">{{style.type}}</div>
			<md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
				<md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
					<ul class="inner_ul">
						<li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
							<div class="navigation-item-content">
								<div class="blue-bubble">
									{{r.class}}
								</div>
								<div ng-if="r.points != 0" class="green-bubble points-bubble-position">
									+{{r.points}}
								</div>
							</div>
							<div class="navigation-item-middle-item">
								<div class="navigation-item-main-text">
									{{r.competion_name}}
								</div>
								<div class="grey-text">
									{{r.competion_date}}
								</div>
							</div>
							<div class="navigation-item-middle-item">
								<div class="grey-text">
									{{r.place}}
								</div>
							</div>
						</li>
					</ul>
					</md-tab>
			</md-tabs>
		</li>
	</ul>
</div> 